<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="parallel Suite" parallel="classes" thread-count="2">
  <test name="Paralle Test">
    <classes>
      <class name="testingpkg1.testsuite_tc_1"/>
       <class name="testingpkg1.testsuite_tc_2"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
